<div class="wow fadeInDown wcontent">
    <div class="flex justify-between items-center gap-5 my-4">
        <h1 class="title-medium !font-semibold">Villa olive 2+1 Bozyer with pool</h1>
        <div class="flex">
            <span class="flex items-center space-x-1 filled bg-gray-100 text-xs">
                <svg class="w-6 h-6 text-gray-800 -rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
                  </svg>                                    
                <span>Share</span>
            </span>
            <span class="flex items-center space-x-1 outlined text-xs">
                <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                  </svg>                  
                <span>Save</span>
            </span>
        </div>
    </div>    
    <div class="grid grid-cols-1 md:grid-cols-4 gap-1 overflow-hidden rounded-lg">
        <div class="col-span-1 md:col-span-2 h-[400px] 2xl:h-[600px] hover:opacity-80 transition duration-300">
            <img src="cities/boston@3x.jpg" alt="Villa Pool" class="w-full h-full object-cover">
        </div>
        <div class="col-span-1 md:col-span-2 grid grid-cols-2 gap-1 h-[400px] 2xl:h-[600px]">
            <div class="object-cover overflow-hidden hover:opacity-80 transition duration-300"><img src="cities/boston@3x.jpg" alt="Pool at Night" class="w-full h-full object-cover"></div>
            <div class="object-cover overflow-hidden hover:opacity-80 transition duration-300"><img src="cities/chicago@3x.jpg" alt="Flamingo Pool" class="w-full h-full object-cover"></div>
            <div class="object-cover overflow-hidden hover:opacity-80 transition duration-300"><img src="cities/boston@3x.jpg" alt="Living Room" class="w-full h-full object-cover"></div>
            <div class="relative object-cover overflow-hidden hover:opacity-80 transition duration-300">
                <img src="cities/boston@3x.jpg" alt="Outdoor Seating" class="w-full h-full object-cover">
                <button class="absolute bottom-5 right-5 bg-white text-black py-1 px-2 rounded-md shadow-md text text-sm">Show all photos</button>
            </div>
        </div>
    </div>
</div>

<div class="wcontent">
    <div class="py-10 flex flex-col lg:flex-row lg:justify-between gap-8">
        <div class="lg:w-[60%] text max-h-screen overflow-auto no-scroll">
            <div>
                <h4 class="title-medium !font-semibold truncate">Entire home in Bozyer, Turkey</h4>
                <p class="mt-1 my-3">5 guests · 2 bedrooms · 3 beds · 2 baths</p>
                <div class="flex justify-between items-center">
                    <span class="sub-title">★ New &middot; <a href="feedback/jks" class="underline">1 review</a></span>
                </div>
            </div> 
            <div class="flex flex-col divide-y my-5 border-t">
                <div class="flex items-center py-5">
                    <img src="cities/chicago@3x.jpg" alt="Host" class="w-12 h-12 rounded-full mr-4">
                    <div>
                        <h2 class="title-small !text-base">Hosted by Sinan</h2>
                        <p>Superhost · 2 years hosting</p>
                    </div>
                </div>
                <div class="py-5 flex flex-col gap-4">
                    <h2 class="title-medium !font-semibold mb-5">Space Overview</h2>
                    <div>
                        <h3 class="title-small !text-base">Private rooms for rent</h3>
                        <p>You can rent one of the bedrooms in this shared home.</p>
                    </div>
                    <div>
                        <h3 class="title-small !text-base">Fully furnished</h3>
                        <p>This space has all the furniture you'll need for your stay</p>
                    </div>
                    <div>
                        <h3 class="title-small !text-base">Other occupants</h3>
                        <p>The host lives in this space.</p>
                    </div>
                    <div>
                        <h3 class="title-small !text-base">Not pro-rated</h3>
                        <p>You will be charged a full monthly cost, even if you only book partial months.</p>
                    </div>
                </div>
                <div class="py-5 ">
                    <p class="mb-4">The whole group will be comfortable in this spacious and unique place. Our villa has been raised for June 2024 and presented to you, our esteemed guests, the stone and bohemian design. 6 people can stay very comfortably in our villa. Electricity belongs to the guest for monthly rentals. The sea is 17 km, Saklıkent 15 km, the center of Fethiye is 11 km, Dalaman airport is 35 km. We wish you a good holiday. We wish you a good holiday. Five three hundred and twenty four eighty three...</p>
                    <a href="" class="underline sub-title">Show more ></a>
                </div>
            </div>
            <div class="py-5 flex flex-col gap-4">
                <h2 class="title-medium !font-semibold mb-5">Amenities</h2>
                <div class="grid grid-cols-2 gap-4">
                    <div class="flex items-center">
                        <svg class="w-6 h-6 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M4 21v-4a1 1 0 011-1h14a1 1 0 011 1v4m-16 0h16M9 14V5a3 3 0 116 0v9M10 14h4" /></svg>
                        <span class="text-gray-800">Kitchen</span>
                    </div>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M8 10h8M8 14h6m-6 4h4M12 4v4m4-4v4m-8-4v4M5 18h14a1 1 0 001-1V7a1 1 0 00-1-1h-2V4a2 2 0 00-2-2h-8a2 2 0 00-2 2v2H5a1 1 0 00-1 1v10a1 1 0 001 1z" /></svg>
                        <span class="text-gray-800">Wifi</span>
                    </div>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M8 12h8m-8 4h6m2 4v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2m16 0h2v2H4v-2h2m4-8v-4a4 4 0 00-4-4H4V2h16v2h-2a4 4 0 00-4 4v4" /></svg>
                        <span class="text-gray-800">Dedicated workspace</span>
                    </div>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M18 13V5a1 1 0 00-1-1h-4a1 1 0 00-1 1v8a1 1 0 001 1h4a1 1 0 001-1zM5 13V5a1 1 0 011-1h4a1 1 0 011 1v8a1 1 0 01-1 1H6a1 1 0 01-1-1zm9 6h6M5 19h6" /></svg>
                        <span class="text-gray-800">Free parking on premises</span>
                    </div>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M9 12h6m0 0V5a3 3 0 00-6 0v7zM6 22a2 2 0 002-2 2 2 0 114 0 2 2 0 104 0 2 2 0 004 0h2a2 2 0 002-2v-7a2 2 0 00-2-2h-5" /></svg>
                        <span class="text-gray-800">Pool</span>
                    </div>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M12 5a1 1 0 01-1 1H7l1.293 1.293a1 1 0 11-1.414 1.414L4.5 6.914l2.379-2.38a1 1 0 111.414 1.414L7 4h4a1 1 0 011 1zm8 14h-2v-2h2a1 1 0 011 1v1a1 1 0 01-1 1z" /></svg>
                        <span class="text-gray-800">Pets allowed</span>
                    </div>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M8 18a4 4 0 108-0V5a2 2 0 10-4 0V7a2 2 0 10-4 0v11z" /></svg>
                        <span class="text-gray-800">TV</span>
                    </div>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M8 18v-5a4 4 0 014-4h0a4 4 0 014 4v5h-8zM6 21v-4a4 4 0 014-4h4a4 4 0 014 4v4" /></svg>
                        <span class="text-gray-800">Washer</span>
                    </div>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M16 4a4 4 0 110 8h-2v6a4 4 0 11-8 0v-6H4a4 4 0 110-8h2V2a4 4 0 118 0v2h2zm-8 0v2a4 4 0 104 0V4h-4z" /></svg>
                        <span class="text-gray-800">Air conditioning</span>
                    </div>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 mr-2 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path d="M7 17a1 1 0 001 1h8a1 1 0 001-1v-4a4 4 0 10-6-0v4a1 1 0 00-1 1zM6 18a1 1 0 01-1-1v-4a4 4 0 116 0v4a1 1 0 001 1zM16 11a1 1 0 100-2" /></svg>
                        <span class="text-gray-800">Carbon monoxide alarm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:pl-20">
            <div class="p-6 rounded-md border shadow-xl shadow-gray-200 bg-white">
                <p class="mb-4"><span>$215</span> Night</p>
                
                <div class="rounded-md border text-xs">
                    <div class="hs-dropdown relative">
                        <div class="grid grid-cols-2 hs-dropdown-toggler" id="hs-dropdown-calendar" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                            <div class="flex flex-col p-3">
                                <label>MOVE-IN</label>
                                <input [value]="checkin()" [readonly]="true" type="text" class="border-none outline-none ring-0 mt-1">
                            </div>
                            <div class="flex flex-col p-3">
                                <label>MOVE-OUT</label>
                                <input [value]="checkout()" [readonly]="true" type="text" class="border-none outline-none ring-0 mt-1">
                            </div>
                        </div> 
                        <div (click)="$event.stopPropagation()" class="z-10 !bg-white border hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-calendar">
                            <calendar (closeEvent)="closeCalender($event);" [config]="{ totalPickers: 2 }" />
                        </div>
                    </div>
                    <div class="hs-dropdown relative">
                        <div class="flex flex-col lg:col-span-2 border-t p-3 hs-dropdown-toggler" id="hs-dropdown-guest" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                            <label>GUESTS</label>
                            <input type="text" class="border-none outline-none ring-0 mt-1">
                        </div>
                        <div (click)="$event.stopPropagation()" class="lg:w-80 p-3 bg-white border hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-guest">
                            <!-- Adult Section -->
                            <div class="flex justify-between items-center py-2 border-b border-gray-200">
                              <div>
                                <p class="font-medium">Adults</p>
                                <p class="text-sm text-gray-500">Age 13+</p>
                              </div>
                              <div class="flex items-center space-x-2">
                                <button (click)="adults.set(adults() - 1 )" [disabled]="adults() < 2" class="border text-gray-600 rounded-full w-8 h-68 flex items-center justify-center text-xl">-</button>
                                <span class="w-5 text-center">{{ adults() }} </span>
                                <button (click)="calculateGuest() && adults.set(adults() + 1 )" class="border text-gray-600 rounded-full w-8 h-8 flex items-center justify-center text-xl">+</button>
                              </div>
                            </div>
                          
                            <!-- Children Section -->
                            <div class="flex justify-between items-center py-2 border-b border-gray-200">
                              <div>
                                <p class="font-medium">Children</p>
                                <p class="text-sm text-gray-500">Ages 2–12</p>
                              </div>
                              <div class="flex items-center space-x-2">
                                <button (click)="children.set(children() - 1 )" [disabled]="children() < 1" class="border text-gray-600 rounded-full w-8 h-68 flex items-center justify-center text-xl">-</button>
                                <span class="w-5 text-center">{{ children() }} </span>
                                <button (click)="calculateGuest() && children.set(children() + 1 )" class="border text-gray-600 rounded-full w-8 h-8 flex items-center justify-center text-xl">+</button>
                              </div>
                            </div>
                          
                            <!-- Infants Section -->
                            <div class="flex justify-between items-center py-2 border-b border-gray-200">
                              <div>
                                <p class="font-medium">Infants</p>
                                <p class="text-sm text-gray-500">Under 2</p>
                              </div>
                              <div class="flex items-center space-x-2">
                                <button (click)="infant.set(infant() - 1 )" [disabled]="infant() < 1" class="border text-gray-600 rounded-full w-8 h-68 flex items-center justify-center text-xl">-</button>
                                <span class="w-5 text-center">{{ infant() }} </span>
                                <button (click)="infant.set(infant() + 1 )" class="border text-gray-600 rounded-full w-8 h-8 flex items-center justify-center text-xl">+</button>
                              </div>
                            </div>
                          
                            <!-- Pets Section -->
                            <div class="flex justify-between items-center py-2">
                              <div>
                                <p class="font-medium">Pets</p>
                                <a href="#" class="text-sm text-blue-500">Bringing a service animal?</a>
                              </div>
                              <div class="flex items-center space-x-2">
                                <button (click)="pets.set(pets() - 1 )" [disabled]="pets() < 1" class="border text-gray-600 rounded-full w-8 h-68 flex items-center justify-center text-xl">-</button>
                                <span class="w-5 text-center">{{ pets() }} </span>
                                <button (click)="pets.set(pets() + 1 )" class="border text-gray-600 rounded-full w-8 h-8 flex items-center justify-center text-xl">+</button>
                              </div>
                            </div>
                          
                            <!-- Information and Close Section -->
                            <p class="text mt-4">
                              This place has a maximum of 5 guests, not including infants. If you're bringing more than 2 pets, please let your host know.
                            </p>
                            <button class="text-black font-medium mt-4">Close</button>
                        </div>
                    </div>
                          
                </div>

                <button class="w-full btn my-5">Request Rental</button>
                <p class="text text-sm text-center">You won't be charged yet</p>
                <div class="flex flex-col gap-2 !font-normal border-y py-5">
                    <div class="flex justify-between">
                        <span class="underline">$269 x 5 nights</span>
                        <span>$1345</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="underline">Special offer</span>
                        <span>-$145</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="underline">Cleaning services</span>
                        <span>$15</span>
                    </div>
                </div>
                <p class="title-small my-2 flex justify-between">
                    <span>Total before taxes: </span>
                    <span>$1,320</span>
                </p>
            </div>
        </div>
    </div>
</div>
