<section>
    <div class="wow fadeInDown lg:w-1/2 mx-auto">
        <div class="bg-white my-5 p-5 lg:to-pink-100">
            <h1 class="title border-b pb-5">Contact Us</h1>
            <div class="mt-5 sub-title text-gray-600">
                <p class="mb-4">For any inquiries or assistance, our dedicated customer support team at {{ appName() }} is ready to help address your questions.</p>
                <p class="mb-4">You can reach out to the {{ appName() }} customer care department by sending an email with your questions, suggestions, and comments to <span class="font-bold">{{ contact().email.support }} </span> </p>
                <p>If you encounter any bugs or have security-related inquiries, please contact our team at <span class="font-bold">{{ contact().email.security }} </span>.</p>
            </div>
        </div>
    </div>
</section>