<!-- <header class="wow fadeInDown wcontent bg-gradient-to-br from-[#072a2b] to-[#3d8185] text-white py-12  px-6 md:px-12 lg:px-24">
    <h1 class="title mb-4 !text-white">Care</h1>
    <p class="mt-4">Streamline your property management tasks with our intuitive tools and resources. From listing creation to guest communication, we've got you covered.</p>
</header> -->

<section>
    <div class="wow fadeInDown wcontent section">
        <div class="">
            <h1 class="font-black text-2xl border-b pb-5">Our careers</h1>

            <div class="mt-5">
                <p class="mb-4">Thank you for expressing interest in joining our team. While we currently don't have specific roles available, we are always on the lookout for talented individuals who can contribute to our mission and vision.</p>
                <p class="mb-4">We believe in creating a dynamic and inclusive work environment where innovation thrives, and individuals can grow both personally and professionally.</p>
                <p>If you are passionate about what we do and would like to be considered for future opportunities, we encourage you to submit your resume and cover letter to <span class="font-bold"> {{ contact().email.support }} </span>.</p>
            </div>
        
            <div class="my-8">
                <h2 class="text-2xl font-bold mb-4">What We Value</h2>
                <ul class="list-disc pl-6">
                    <li class="mb-2">Commitment to Excellence</li>
                    <li class="mb-2">Collaborative Spirit</li>
                    <li class="mb-2">Innovation and Creativity</li>
                    <li class="mb-2">Diversity and Inclusion</li>
                    <li class="mb-2">Continuous Learning</li>
                </ul>
            </div>
        
            <div class="my-8">
                <h2 class="text-2xl font-bold mb-4">Stay Connected</h2>
                <p>Follow us on <span class="font-bold">social media platforms</span> to stay updated on company news, culture, and any upcoming job opportunities.</p>
            </div>
        </div>
    </div>
</section>