<div>
    <div class="px-5 lg:px-0 py-5 lg:w-max">
        <a (click)="closeNavResponsive()" class="nav-item" [routerLink]="['dashboard']" [routerLinkActive]="'!text-primary'" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
        <a (click)="closeNavResponsive()" class="nav-item" [routerLink]="['listing']" [routerLinkActive]="'!text-primary'" [routerLinkActiveOptions]="{exact: true}">Listing</a>
        <a (click)="closeNavResponsive()" class="nav-item" [routerLink]="['list']" [routerLinkActive]="'!text-primary'" [routerLinkActiveOptions]="{exact: true}">List Property</a>
        <a (click)="closeNavResponsive()" class="nav-item" [routerLink]="['bookings']" [routerLinkActive]="'!text-primary'" [routerLinkActiveOptions]="{exact: true}">Bookings</a>
        <a (click)="closeNavResponsive()" class="nav-item" [routerLink]="['payments']" [routerLinkActive]="'!text-primary'" [routerLinkActiveOptions]="{exact: true}">Payments</a>
        <a (click)="closeNavResponsive()" class="nav-item" [routerLink]="['media']" [routerLinkActive]="'!text-primary'" [routerLinkActiveOptions]="{exact: true}">Media</a>
        <a (click)="closeNavResponsive()" class="nav-item" [routerLink]="['profile']" [routerLinkActive]="'!text-primary'" [routerLinkActiveOptions]="{exact: true}">Profile</a>
        <a (click)="closeNavResponsive()" class="nav-item" [routerLink]="['settings']" [routerLinkActive]="'!text-primary'" [routerLinkActiveOptions]="{exact: true}">Settings</a>
    </div>
</div>