<section>
    <div class="wow fadeInDown wcontent section-medium">
        <div class="bg-white">
            <h1 class="title pb-5">Rental Tips & Advice</h1>
            <p>Finding the perfect rental property can be exciting but also challenging. To help you navigate the process smoothly and safely, we've compiled some essential tips:</p>
            <div class="flex flex-col gap-5 mt-5">
                <div class="p-5 border-l-4">
                    <h5 class="font-bold my-2">Define Your Needs 🕵️‍♀️ 🏡</h5>
                    <ul class="text flex gap-5 flex-col md:flex-row">
                        <li><strong>Location</strong>: <br>Commute, neighborhood vibe, proximity to amenities.</li>
                        <li><strong>Size:</strong> <br>Number of bedrooms, bathrooms, overall square footage.</li>
                        <li><strong>Budget: </strong><br>Rent, utilities, additional expenses (parking, pet fees).</li>
                        <li><strong>Amenities: </strong><br>In-unit laundry, parking, pet-friendly policies.</li>
                    </ul>
                </div>
                <div class="p-5 border-l-4">
                    <h5 class="font-bold my-2">Start Your Search Early</h5>
                    <p class="text">Give yourself ample time to browse listings, schedule tours, and make an informed decision. The rental market can move quickly, especially in popular areas.</p>
                </div>
                <div class="p-5 border-l-4">
                    <h5 class="font-bold my-2">Thoroughly Research Properties and Landlords 🕵️‍♀️ 🏡</h5>
                    <p class="text">Before committing to a property, invest time in researching potential rentals and landlords. Utilize online resources, read reviews, and explore neighborhood safety statistics.</p>
                </div>
                <div class="p-5 border-l-4">
                    <h5 class="font-bold my-2">Schedule In-Person Viewings  🚶🏠</h5>
                    <p class="text">Never rely solely on online photos. Always schedule in-person viewings to assess the property's condition, neighborhood, and meet the landlord or property manager face-to-face.</p>
                </div>
                <div class="p-5 border-l-4">
                    <h5 class="font-bold my-2">Scrutinize the Lease Agreement 📑</h5>
                    <p class="text">Before signing any documents, carefully review all terms and clauses in the lease agreement. Pay close attention to rent details, security deposit policies, maintenance responsibilities, and lease duration.</p>
                </div>
                <div class="p-5 border-l-4">
                    <h5 class="font-bold my-2">Document the Property's Condition 📸📝</h5>
                    <p class="text">Upon moving in, document the property's existing condition with photos and written notes. Share this documentation with your landlord to avoid potential disputes regarding damages or repairs.</p>
                </div>
                <div class="p-5 border-l-4">
                    <h5 class="font-bold my-2">Understand Your Rights and Responsibilities  💪🏘️</h5>
                    <p class="text">Familiarize yourself with your rights and responsibilities as a tenant according to your local laws and regulations. This knowledge will empower you to address any issues that may arise during your tenancy.</p>
                </div>
            </div>
        </div>
    </div>
</section>
