<div [formGroup]="form()">
    <h4 class="title-small mb-10 lg:pb-5">Property Specifications</h4>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="form-group">
            <label class="control-label">Bedrooms</label>
            <input class="form-control" formControlName="bedrooms" type="number" placeholder="Number of bedrooms" />
        </div>
        <div class="form-group">
            <label class="control-label">Bathrooms</label>
            <input class="form-control" formControlName="bathrooms" type="number" placeholder="Number of bathrooms" />
        </div>
        <div class="form-group">
            <label class="control-label">Guests Allowed</label>
            <input class="form-control" formControlName="guestsAllowed" type="number"
                placeholder="Maximum number of guests" />
        </div>
        <div class="form-group">
            <label class="control-label">Square Footage</label>
            <input class="form-control" formControlName="squareFootage" type="number"
                placeholder="Size in square feet" />
        </div>
        <div class="form-group">
            <label class="control-label">parking available</label>
            <select class="form-control" formControlName="parkingAvailable">
                <option value="NO">No</option>
                <option value="YES">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">balcony</label>
            <select class="form-control" formControlName="balcony">
                <option value="NO">No</option>
                <option value="YES">Yes</option>
            </select>
        </div>
    </div>
</div>