@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-sm lg:text-base font-semibold font-figtree text-gray-900 max-h-[400px] overflow-y-auto
    [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar-track]:bg-gray-100
    [&::-webkit-scrollbar-thumb]:bg-gray-300
    dark:[&::-webkit-scrollbar-track]:bg-neutral-700
    dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
}

.wcontent {
    @apply w-full xl:w-[90%] 2xl:w-[75%] px-4 mx-auto lg:px-0
}

.outlined {
    @apply hover:bg-gray-100 py-2.5 px-4 rounded-full cursor-pointer transition duration-300
}

.filled {
    @apply hover:bg-opacity-80 py-2.5 px-4 rounded-full cursor-pointer transition duration-300
}

.section {
    @apply py-20 lg:py-24
}

.section-medium { 
    @apply py-10 lg:py-10
}

.section-small { 
    @apply py-5
}

.title {
    @apply text-2xl lg:text-4xl font-black capitalize tracking-normal text-gray-900 
}

.title-medium {
    @apply text-lg lg:text-2xl font-black capitalize text-gray-900 
}

.title-small {
    @apply text-base lg:text-lg font-bold capitalize leading-5 tracking-tight text-gray-900 
}

.sub-title {
    @apply font-medium text-gray-900 
}

.text {
    @apply font-medium text-gray-600
}

.curved {
    clip-path: ellipse(70% 100% at 50% 0%);
}

.swiper-enabled swiper-container::part(bullet-active) {
    background-color: #ffffff;
}

.btn {
    @apply bg-primary text-white p-3 rounded-md hover:bg-primary/70 transition ease-in-out duration-300 flex items-center justify-center gap-1 text-xs capitalize cursor-pointer
}

button:disabled {
    @apply opacity-50
}

.no-scroll {
    @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:bg-transparent
}

.form-control {
    @apply py-3 px-4 block w-full text border border-gray-300 rounded-lg text-sm focus:outline-primary/85 ring-0 disabled:opacity-50 disabled:pointer-events-none transition duration-300 placeholder:font-medium placeholder:text-gray-400  placeholder:text-xs
}

.control-label {
    @apply block text-sm font-medium capitalize
}

.form-group {
    @apply flex flex-col gap-y-1
}

button:disabled, input:disabled, select:disabled, textarea:disabled {
    @apply opacity-50 cursor-not-allowed
}

/* input:read-only, select:read-only, textarea:read-only {
    @apply cursor-not-allowed 
} */

.toast {
    @apply text-xs font-medium text-gray-600
}

.icon-btn {
    font-size: 20px;
    @apply h-8 w-8 rounded-full bg-gray-100  transition duration-300 ease-linear hover:border flex items-center justify-center cursor-pointer
}

.no-pr {
    @apply print:hidden
}

.icon-btn:disabled {
    @apply opacity-20 cursor-not-allowed
}
.control-error {
    @apply text-red-500 text-xs font-normal
}


/* components */

.dt-layout-row:has(.dt-search),
.dt-layout-row:has(.dt-length),
.dt-layout-row:has(.dt-paging) {
    display: none !important;
}

.table-container {
    @apply flex flex-col border rounded-md p-5 w-full overflow-hidden
}

.table-container .table-area {
    @apply  overflow-x-scroll w-full
}

.table-container table thead {
    @apply border-b border-gray-200
}

.table-container table thead tr th.th {
    @apply py-1 text-start font-normal focus:outline-none font-sans
}

.table-container table thead tr th.th div {
    @apply py-1 px-2.5 inline-flex items-center border border-transparent text-sm text-gray-500 rounded-md hover:border-gray-200
}

.table-container table tbody {
    @apply divide-y divide-gray-200
}

.table-container table tbody tr {
    @apply hover:bg-gray-100 transition duration-300 cursor-pointer
}

.table-container table tbody tr td {
    @apply p-3 text-sm text-gray-700 font-sans
}

.table-container .pagination {
    @apply md:flex items-center space-x-1 mt-4
}

.table-container .pagination button {
    @apply p-2.5 min-w-[40px] inline-flex justify-center items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none
}

.table-container .pagination div {
    @apply flex items-center space-x-1 [&>.active]:bg-gray-100
}

.pagebtnclass {
    @apply min-w-[40px] flex justify-center items-center text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 py-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none
}


.inline-calendar-card {
    font-weight: normal !important;
    width: 300px;
    box-shadow: none !important;
}

@media screen and (max-width: 768px) {
    .inline-calendar-card {
        width: 100%;
    }
}

